<div class="text-center">
    <h1 class="text-4xl uppercase text-white m-20">Welcome to my portfolio</h1>
    <p>In this web you show a little see of my jobs how developer and her repositories, for you inspect more about of my projects and my code</p>
    <div class="mt-20">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <h2>Video of my project top</h2>
            </div>
            <div>
                <h2>Video of my project top</h2>
            </div>
        </div>
        <a class="text-blue-700 font-bold text-3xl" href="">/projects</a>
    </div>
</div>
