.navegacion {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 3rem;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
}


/*Menu Movil*/

.mostrar {
    opacity: 1;
    visibility: visible;
    height: auto;
}