<header class="header">
    <h1 class="header__h1"><img src="./assets/logonav.png " alt="logonav"></h1>
    <button (click)="setActive()" class="header__button"><img src="./assets/logonav.svg" alt="Toggle Menu"></button>
    <nav class="header__nav" [ngClass]="{'header__nav--activo':active}">
        <ul class="hedaer__ul sm:flex md:justify-evenly">
            <li class="header__li"><a routerLink="home" class="text-white font-bold transition-all hover:text-blue-400 hover:text-3xl" href=" ">Home</a></li>
            <li class="header__li"><a routerLink="about" class="text-white font-bold transition-all hover:text-blue-400 hover:text-3xl" href=" ">About Me</a></li>
            <li class="header__li"><a routerLink="projects" class="text-white font-bold transition-all hover:text-blue-400 hover:text-3xl" href=" ">Projects</a></li>
            <li class="header__li"><a routerLink="articles" class="text-white font-bold transition-all hover:text-blue-400 hover:text-3xl" href="">Articles</a></li>
            <li class="header__li"><a routerLink="contact" class="text-white font-bold transition-all hover:text-blue-400 hover:text-3xl" href="">Contact Me</a></li>
        </ul>
    </nav>
</header>