<nav class="flex p-4 gap-6 place-items-center justify-evenly">
    <div>
        <img src="assets/logonav.png" alt="logonav">
    </div>
    <div class="flex gap-6">
        <a routerLink="home" class="uppercase text-white font-bold" href="">Home</a>
        <a routerLink="about" class="uppercase text-white font-bold" href="">About Me</a>
        <a routerLink="projects" class="uppercase text-white font-bold" href="">Projects</a>
        <a class="uppercase text-white font-bold" href="">Articles</a>
    </div>
    <div>
        <a class="uppercase text-white font-bold" href="">Contact Me</a>
    </div>
</nav>