<div class="grid place-items-center sm:grid-cols-1">
    <div class="">
        <h1 class="p-4 text-3xl sm:p-40 sm:text-5xl text-white text-center font-extrabold font-['Arial']">I’m web <span class="text-cyan-500 text-3xl sm:text-5xl animate-letters">{{subtitleOne}}</span> and <span class="text-cyan-500 text-3xl sm:text-5xl animate-letters">{{subtitleTwo}}</span> explore somes projects and contact me</h1>
    </div>
    <div class="flex justify-items-center">
        <div class="grid p-4 place-items-center gap-4 sm:grid-cols-3">
            <div>
                <img src="assets/project1.gif">
            </div>

            <div>
                <img src="assets/project2.gif" />
            </div>

            <div>
                <img src="assets/project3.gif" />
            </div>

        </div>
    </div>
    <div class="lg:hover:animate-shake motion-reduce:animate-none">
        <a routerLink="projects" class="uppercase bg-green-900 p-4 text-white font-bold" href="">See All Projects</a>
    </div>
</div>