<div class="grid place-items-center sm:grid-cols-1">
    <div class="animate-tada text-2xl animate-slow animate-infinite">
        <h1 class="p-4 sm:p-40 text-5xl text-white text-center  font-extrabold font-['Arial']">I’m web developer & designer, explore somes projects and contact me</h1>
    </div>
    <div class="flex justify-items-center">
        <div class="grid p-4 place-items-center gap-4 sm:grid-cols-3">
            <div>
                <img src="assets/0ea5b119cc5b3a9a54f4f77053c5e555.gif" />
            </div>

            <div>
                <img src="assets/video-design-brand-integration.webp" />
            </div>

            <div>
                <img src="assets/Gif_from_vid_internal_1.gif" />
            </div>

        </div>
    </div>
    <div class="lg:hover:animate-shake motion-reduce:animate-none">
        <a class="uppercase bg-green-900 p-4 text-white font-bold" href="">See All Projects</a>
    </div>
</div>