<div class="p-4">
    <h1 class="text-white uppercase text-7xl mb-5">About</h1>
</div>

<div class="p-10 text-white place-items-center ">
    <aside class="text-center text-2xl text-pretty mb-8">I'm Hilario Francisco Arevalo Carbajal, Engineer and Degree, in work in differents groups or programs how developer and help there somes developers with his code and improve some parts of programs.</aside>
    <div class="grid place-items-center gap-4 sm:grid-cols-2">
        <article>
            <details>
                <summary class="hover:text-sky-700 hover:underline hover:animate-shake hover:font-extrabold">MEAN STACK</summary>
                <p>As a developer this year my proposal is to learn about all the Angular or MEAN STACK stacks, when I finish learning this stack I want to create a robust website that can satisfy the medium and large needs of a company.</p>
            </details>
            <div>
                <strong>2024</strong>
            </div>
        </article>
        
        <article>
            <details>
                <summary class="hover:text-sky-700 hover:underline hover:animate-shake hover:font-extrabold">System Analyst</summary>
                <p>As a systems analyst, I perform the functions of technical support, development assistant and infrastructure support.</p>
            </details>
            <div>
                <strong>2021 - 2024</strong>
            </div>
        </article>

        <article>
            <details>
                <summary class="hover:text-sky-700 hover:underline hover:animate-shake hover:font-extrabold">Codigo Alimentario</summary>
                <p>This project was making for an enterprise in the working, the page was making with developers what made a big span with name HOME, a component unnecessary, in this new project, erase HOME and was dev with angular, offering a fast dev and best SEO</p>
            </details>
            <div>
                <strong>Feb 2022 - Mar 2022</strong>
            </div>
        </article>

        <article>
            <details>
                <summary class="hover:text-sky-700 hover:underline hover:animate-shake hover:font-extrabold">SOTOL</summary>
                <p>As a practice to test most of my skills I wanted to replicate a liquor page, giving it some aesthetic improvements and making use of preprocessors like SASS</p>
            </details>
            <div>
                <strong>Mar 2022 - Jun 2022</strong>
            </div>
        </article>

    </div>

</div>
<!-- <div class="flex justify-center text-center text-white text-4xl">
    <h1>Just because something seems difficult to you doesn't mean that no one else is capable of achieving it. <span class="text-sm"> - Marco Aurelio - </span></h1>
</div> -->