<div class="p-4">
    <h1 class="text-white uppercase text-7xl mb-5">About</h1>
</div>
<div class="p-10 text-white place-items-center ">
    <div class="grid place-items-center sm:grid-cols-2">
        <div>
            <p>I'm Hilario Arevalo, an engineer in Communications and Electronics with a Bachelor's degree in Computer Systems. possible.</p>
            <p>🎓 My passion lies in of technology and innovation, where I thrive on solving complex problems and pushing the boundaries of what's</p>
            <p>Currently,✨ I'm immersed in the dynamic world of programming, constantly expanding my skill set and knowledge base.
            </p>
            <p>🚀 I'm deeply engaged in learning various technologies such as:</p>
            <ul>
                <li>🌐 Angular</li>
                <li>🌐 React</li>
                <li>🌐 PHP</li>
                <li>🌐 Flutter</li>
                <li>🌐 React Native</li>
            </ul>

            <p>🖱️ Whether it's mastering a new framework or delving into cutting-edge development methodologies, I'm always up for the challenge.</p>
            <p>👨‍💻 As a programmer, I possess an insatiable hunger for acquiring new knowledge and honing my craft.</p>
            <p>💡 I firmly believe that continuous learning is the key to staying ahead in this ever-evolving field. With each project and endeavor, I strive to not only meet expectations but to exceed them, delivering innovative solutions that make a meaningful
                impact.🌟
            </p>
        </div>
        <div>
            <span>2024</span>
        </div>
    </div>

</div>
<!-- <div class="flex justify-center text-center text-white text-4xl">
    <h1>Just because something seems difficult to you doesn't mean that no one else is capable of achieving it. <span class="text-sm"> - Marco Aurelio - </span></h1>
</div> -->